@model FPDinner.Models.AdminViewModel

@{
	ViewBag.Title = "Index";
}

<section>
@using (Html.BeginForm("StartBooking", "Admin")) { 
	<section class="column food-menu">
		<h2>Dinners</h2>

		<ul id="dinners">
			@foreach(var d in Model.Dinners) { @Html.DisplayFor(m => d, null, "") }
		</ul>
	</section>

	<section class="column food-menu">
		<h2>Salads</h2>
		<ul id="salads">
			@foreach (var s in Model.Salads)
			{ @Html.DisplayFor(m => s, null, "") }
		</ul>
	</section>

		<p class="start-booking">
		Mark what is available today and <input type="submit" value="start booking" />
	</p>
}
</section>

<section>
	<section class="column">
		@Html.Partial("_AddDinner", new FPDinner.Models.Dinner())
	</section>

	<section  class="column">
		@Html.Partial("_AddSalad", new FPDinner.Models.Salad())
	</section>
</section>